
.item{
    padding: 20px;
    margin: 5px;
    border: 1px solid #eeeeee;
    background: #efefef;
}
.title{
    font-weight: bold;
}

.email{
    font-style: italic;
}
.status-1{
    background: url("../images/check2-square.svg") no-repeat top 10px right 10px, #ccffcc;
    background-size: 20px;
}
.pagination {
    width:175px;
    margin: 0 auto;
}

#listInserts .item{
     height: 25%;
     overflow-y:auto;
}
#listInserts .item::-webkit-scrollbar {
    width: 10px;
}

#listInserts .item::-webkit-scrollbar-thumb {
    background: #418bfa;
    border-radius: 8px;
    border: 2px solid #a6c9ff;
}

#listInserts .item::-webkit-scrollbar-thumb:hover {
    background: #0d6efd;
    border: 2px solid #74abfc;
}