
.item{
    padding: 20px;
    margin: 5px;
    border: 1px solid #eeeeee;
    background: #efefef;
}
.name ,.email  {
    font-weight: bold;
}
.name a{
    font-weight: normal;
    font-style: italic;
}
.title span{
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 5px;
}
.title  {
    font-weight: bold;
    margin-bottom: 0;
}
.updated{
    font-style: italic;
    color:#808080;
    font-weight: normal;
}
.email span{
    font-style: italic;
}
.email .title, .name .title{
    font-weight: normal;
}
.status-1{
    background: url("../images/check2-square.svg") no-repeat top 10px right 20px, #ccffcc;
    background-size: 20px;
}
.pagination {
    width:175px;
    margin: 0 auto;
}

#listInserts .item{
     height: 25%;
     overflow-y:auto;
}
#listInserts .item::-webkit-scrollbar {
    width: 10px;
}

#listInserts .item::-webkit-scrollbar-thumb {
    background: #418bfa;
    border-radius: 8px;
    border: 2px solid #a6c9ff;
}

#listInserts .item::-webkit-scrollbar-thumb:hover {
    background: #0d6efd;
    border: 2px solid #74abfc;
}
